**/__pycache__/**

# Text files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.toc

# Tests outputs
tests/outputs/**


# Virtual environment
venv/
*.egg-info/

# Distribution / packaging
dist/
